* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: hsla(186, 33%, 94%, 1);

  background: radial-gradient(
    circle,
    hsla(186, 33%, 94%, 1) 40%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(186, 33%, 94%, 1) 40%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(186, 33%, 94%, 1) 40%,
    hsla(216, 41%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ebf4f5", endColorstr="#b5c6e0", GradientType=1 );
  font-size: 20px;
  font-family: cursive;
}

ul {
  list-style-type: none;
}

#logo-img {
  width: 130px;
}

.main-wrapper {
  width: 80%;
  margin: 0px auto;
}

#user-pic {
  width: 30px;
}

.navbar {
  min-height: 50px;
  background-color: #71a96c;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-lists {
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.search-utils {
  margin-left: 100px;
  padding-top: 20px;
}

.searchbar {
  width: 200px;
  height: 25px;
}

.header-list {
  font-size: 1.1rem;
  white-space: nowrap;
}

.header-list a {
  color: black;
  text-decoration: none;
}

.header-list:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-submit {
  height: 25px;
}

.user-img {
  width: 20px;
}

#veggie {
  margin-left: 150px;
}

#logo {
  font-size: 2rem;
  text-decoration: none;
}

.hero {
  margin-top: 100px;
  height: 50vh;
  background-color: rgb(80, 162, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.basket-title {
  height: 10vh;
  background-color: #287B17;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.basket {
  min-height: 70vh;
  background-color: inherit;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.best-sellers {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* height: 200vh; */
}

.seller-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  gap: 60px;
}

.seller-title {
  text-transform: uppercase;
}
.veggie-card {
  display: flex;
  flex-direction: column;
  background-color: #fffaff;
  align-items: center;
  border-radius: 10px;
  max-width: 200px;
  min-height: 300px;
  background-color: white;
  gap: 20px;
}

.veggie-card:hover {
  scale: calc(1.04);
  box-shadow: 1px 1px gray;
}

.veggie-img {
  margin-top: 20px;
  min-height: 150px;
  width: 150px;
  border-radius: 10px;
}

.veggie-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.veggie-type {
  width: 90%;
  height: 25px;
}

.veggie-add-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
}

.qty-wrapper {
  display: flex;
  align-items: center;
}

.veggie-qty {
  height: 33px;
  width: 50px;
  margin: 5px;
}

.offers-wrapper{
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 40px 0;
}

.offer-card img{
  width: 280px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.offer-card img:hover{
  scale: calc(1.05);
  box-shadow: 2px 2px #71a96c;
}

.footer-title {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  background-color: #485668;
  color: aliceblue;
}

.footer-content {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #222f3f;
}

.footer-content-container {
  width: 90vw;
  max-height: 100vh;
  color: white;
  margin-top: 5vh;
  margin-bottom: 40px;
}

.footer-content-title {
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 10px 0px;
}

input,
textarea,
button {
  padding: 0 10px;
}

.basket input {
  padding: 0;
}

.footer-wrapper {
  width: 80%;
  margin: 70px 0px 0px 20%;
}

.footer-links {
  display: flex;
  gap: 15em;
}

.section-content {
  margin: 20px 0px;
  display: flex;
  gap: 5rem;
}

.footer-block li {
  margin: 6px 0px;
}

.footer-end {
  margin: 40px 0 0 0;
  background-color: #71a96c;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.footer-icons img {
  width: 30px;
  margin: 0px 10px;
  cursor: pointer;
}

.footer-icons img:hover {
  scale: calc(1.2);
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links {
  display: flex;
  gap: 15px;
}
.social-links img {
  width: 30px;
}
.social-links img:hover {
  scale: calc(1.2);
}
/* LOGIN STYLES */

#login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(to bottom right, #4caf50, #2196f3);
}

.login-container {
  width: 600px;
  padding: 30px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.register-container {
  width: 600px;
  padding: 30px;
  margin-top: 15vh;
  margin-bottom: 10vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #666;
}

input {
  width: 100%;
  height: 50px;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

#button-login {
  width: 100%;
  padding: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e9142;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: #ccc;
}

/* Footer style*/

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');*/
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #71a96c;
  padding: 70px 0;
}

.register-footer {
  background-color: #71a96c;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
} /*
.footer-col .social-links a{
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}*/

.footer-icons img {
  width: 30px;
  margin: 0px 10px;
  cursor: pointer;
}

.footer-icons img:hover {
  scale: calc(1.2);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
